@import '../../style';
.side-menu {
  height: 100%;
  background-color: #2a323c;
  position: fixed;
  .header-menu {
    @extend .display-static;
    flex-direction: column;
    .logo {
      width: 70%;
    }
    .avatar{
        width: 25%;
    }
    .username{
        @extend .font-static;
        margin: .5rem 0;
        color: white;
    }
  }
  .ant-menu {
    height: 100%;
    margin: 0;
    background-color: #2a323c;
    .ant-menu-item-selected{
        background-color: $color-active;
    }
  }
}
.content-page{
  margin-left: 258px;
  // padding: 1rem;
  // background-color: #f5f4f4;
  .header{
    @extend .display-static;
   padding: 1rem 2rem;
   background-color:$color-active;
   .btn-side-menu{
    width: 40px;
    border-radius: 0px;
   }
   .avatar-log{
    width: 45px;
   }
   
  }
}
