@import "../../style";

.media-content {
  @extend .component-static;
  .list-images {
    background-color: white;
    padding: 0 0.5rem;
  }
}
.img-frame {
  @extend .display-static;
  justify-content: center;
  height: 125px;
  position: relative;
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
  background-color: #03a9f405;
  .img-controls {
    @extend .display-static;
    display: none;
    width: 100%;
    position: absolute;
    top: 0;
    padding: 5px;
    background: linear-gradient(
      180deg,
      rgba(0, 0, 0, 0.65) 0,
      rgba(0, 0, 0, 0.65) 7%,
      transparent 85%,
      transparent
    );
    .img-download svg {
      width: 20px;
      height: 20px;
    }
    .img-check {
      .ant-checkbox-inner {
        width: 25px;
        height: 25px;
        border-radius: 20px;
        //background-color: #71ca46;
        // border-color: #71ca46;
      }
      .ant-checkbox-inner::after {
        left: 30%;
      }
      .ant-checkbox-checked::after {
        border: 0;
      }
      // .ant-checkbox-checked .ant-checkbox-inner {
      //   background-color: #71ca46;
      //   border-color: #71ca46;
      // }
    }
  }
  :hover {
    background-color: red;
  }
}
.img-frame :hover {
  background-color: red;
  .img-controls {
    display: flex !important;
  }
}
.preview {
  //@extend .display-static;
  padding-left:1rem !important;
  color: black;
  background: white;
  .title {
    @extend .display-static;
    margin: 0;
    height: 45px;
  }
}
