// varibles
@import url('https://fonts.googleapis.com/css2?family=Prompt:ital,wght@1,700&display=swap');
.display-static {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
#app {
  //background-color: gray;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Prompt", sans-serif;
}