// varibles
@import url("https://fonts.googleapis.com/css2?family=Prompt:ital,wght@1,700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@1,700&display=swap");
.display-static {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.font-static {
  font-family: "Roboto", sans-serif;
}
.component-static {
  padding: 1rem 2rem;
  background-color: #f5f4f4;
}
$color-active: #03a9f4;
#app {
  //background-color: gray;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Prompt", sans-serif;
  margin: 0;
}
button,
.ant-select-selection,
input {
  border-radius: 0 !important;
}
